<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="html-canvas-image">
  <template>
  <iron-ajax
    id="base64API"
    method="POST"
    content-type="application/x-www-form-urlencoded"
    url="https://safe-wave-14056.herokuapp.com/base64"
    handle-as="json"
    on-response="_imageUrlGenerated">
  </iron-ajax>
  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'html-canvas-image',

        properties: {
          /**
           * The id (parent container) of the element to generator image from
           */
          container: {
            type: String
          },

          filename: {
            type: String
          },

          ajaxBody: {
            type: String
          },

          debugMode: {
            type: Boolean,
            value: false
          }
        },

        /**
         * Hit our base64API Url after getting the base64 string from the html2canvas lib
         *
         */
        generateImage: function() {
          var containerEle = document.getElementById(this.container);
          if(!containerEle) {
            throw 'Container ID is invalid!';
          }

          var self = this;

          html2canvas(containerEle, {
            logging: self.debugMode,
            useCORS: true,
            onrendered: function(canvas) {
              self.$.base64API.body = {
                'base64': canvas.toDataURL(self.mimeType)
              };
              if(self.debugMode) {
                console.log('==== DEBUG base64 Start ====');
                console.log(self.$.base64API.body.base64);
                console.log('==== DEBUG base64 End ====');
              }
              self.$.base64API.generateRequest();
            }
          });
        },

        _imageUrlGenerated: function(e, detail) {
          this.fire('html-canvas-image-base64-created', {
            imageUrl: detail.xhr.response.imageURL
          });
        },

        ready: function() {
          if (!window.html2canvas) {
            throw 'Requires html2canvas lib! - https://html2canvas.hertzen.com/';
          }
        }
      });
    })();
  </script>
</dom-module>
